<nav class=''>
  <ul>
    <li>
      <%= link_to user_path(@user) do %>
        <%= image_tag image_path('user1.jpg'), style: 'width: 4rem; height: 4rem;' %>
      <% end %>
    </li>
    <li class="">
      CARS
    </li>
      <% if user_signed_in? %>
        <li class="">
          <%= button_to destroy_user_session_path, method: :delete do %>
            <%= image_tag 'house-rent.jpg', alt: 'Sign out', style: 'width: 4rem; height: 4rem;' %>
          <% end %>
        </li>
        <% else %>
        <li class="">
          <%= link_to "Login", new_user_session_path, class:"button" %>
          <%= link_to "Signup", new_user_registration_path, class:"button" %>
        </li>
      <% end %>
  </ul>
</nav>
