<div class="user-list">
  <div class="user">
    <img class="user-image" src="<%= @user.photo %>" alt="User Image" />
    <div class="user-details">
      <h2 class="username"><%= @user.name %></h2>
      <br>
      <p class="item-count">Number of recipes: <%= @user.recipes.count %></p>
    </div>
  </div>
  <div class="bio">
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
    <br>
    <small class="post-count"></small>
  </div>
  <ul class="user-posts">
    <% @recipes.each do |recipe| %>
      <li class="user-post">
        <h3><%= link_to recipe.name, user_recipe_path(recipe.user, recipe) %></h3>
        <p><%= recipe.description %></p>
        <br>
        <small class="item-count"></small>
      </li>
    <% end %>
  </ul>
</div>
<div class="button">
  <button><%= link_to "View All Recipes", user_recipes_path(@user) %></button>
</div>