<%= render "shared/backend/header_cars" %>
<div class="user-list">
  <ul class="user-posts">
    <% @cars.each do |car| %>
      
        <div class="item">
          <% if car.icon.attached? %>
            <%= image_tag car.icon, style: 'width: 50px; height: 50px;' %>
          <% end %>

          <div class="item-details">
            <strong class="details-heading">
              <%= link_to car.name, user_car_path(@user, car) %> 
              $<%= car.total_reservation_amount %>
            </strong>
            <small><%= car.created_at %></small>
          </div>
        </div>
      
    <% end %>
  </ul>
</div>
<%= render "shared/backend/footer" %>