<div class="user-list">
  <div class="user">
    <img class="user-image" src="<%= @user.photo %>" alt="User Image" />
    <div class="user-details">
      <h2 class="username"><%= @user.name %></h2>
      <br>
      <p class="item-count">Number of operations: <%= @user.expenses.count %></p>
    </div>
  </div>
  <div class="bio">
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
    <br>
    <small class="post-count"></small>
  </div>
  <ul class="user-posts">
    <% @categories.each do |category| %>
      <li class="user-post">
        <h3><%= link_to category.name, user_category_path(category.user, category) %></h3>
        <p><%= category.name %></p>
        <br>
        <small class="item-count"></small>
      </li>
    <% end %>
  </ul>
</div>
<div class="button">
  <button><%= link_to "View All Operations types", user_categories_path(@user) %></button>
</div>