<div class="all-form">
<%= form_with(model: [@user, @car, @reservation], url: user_car_reservation_path(@user, @car, @reservation), local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cars %>
    <%= form.select :car_id, @cars.map { |c| [c.name, c.id] } || [] %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.select :city_id, @cities.map { |c| [c.name, c.id] } || [] %>
  </div>

  <div>
    <%= form.label :hourly_fee, style: "display: block" %>
    <%= form.number_field :hourly_fee %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.number_field :duration %>
  </div>

  <div>
    <%= form.label :total_amount_payable, style: "display: block" %>
    <%= form.number_field :total_amount_payable %>
  </div>

  <div>
    <%= form.submit %>
  </div>
  <% end %>
</div>
