<div id="<%= dom_id category %>">
  <p>
    <strong>User:</strong>
    <%= category.user.name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= category.name %>
    <small>Total Amount: <%= category.total_expense_amount %></small>
  </p>

  <div class="icon">
    <% if category.icon.attached? %>
      <%= image_tag category.icon, style: 'width: 50px; height: 50px;' %>
    <% end %>
  </div>

</div>
