<button onclick="openFormModal()">Open Form</button>

<!-- The Modal -->
<div id="myModal" class="modal">
  <div class="modal-content">



<div class="all-form">
<%= form_with(model: [user, car], url: user_cars_path(user)) do |form| %>
  <% if car.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :icon, style: "display: block" %>
    <%= form.file_field :icon %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :facebook, style: "display: block" %>
    <%= form.text_field :facebook %>
  </div>

  <div>
    <%= form.label :twitter, style: "display: block" %>
    <%= form.text_field :twitter %>
  </div>

  <div>
    <%= form.label :website, style: "display: block" %>
    <%= form.text_field :website %>
  </div>

  <div>
    <%= form.label :finance_fee, style: "display: block" %>
    <%= form.number_field :finance_fee %>
  </div>
  
  <div>
    <%= form.label :option_to_purchase_fee, style: "display: block" %>
    <%= form.number_field :option_to_purchase_fee %>
  </div>
  
  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.number_field :duration %>
  </div>
  
  <div>
    <%= form.label :total_amount_payable, style: "display: block" %>
    <%= form.number_field :total_amount_payable %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
</div>


 </div>
</div>

<script>
// JavaScript function to open the modal
function openFormModal() {
  var modal = document.getElementById('myModal');
  modal.style.display = 'block';
}

// Close the modal if the user clicks outside of it
window.onclick = function(event) {
  var modal = document.getElementById('myModal');
  if (event.target == modal) {
    modal.style.display = 'none';
  }
}
</script>